 body{
            padding: 0;
            margin: 0;
            font-family: Lato;
            font-size: 14px;
            
        }
.container{
     width: 1170px;
     margin: 0 auto;
    

    
}
.star-line{
    border: none;
    border-top: 5px solid;
    max-width: 250px;
    overflow: visible;
    margin-top: 20px;
    
}
.star-line::after{
    content: "\f005";
    font-family: FontAwesome;
    position: relative;
    top: -17px;
    font-size: 30px;
    
    padding-right: 10px;
    padding-left: 10px;
   
}
.star-line-white::after{
   
    background-color: brown;
    color: #fff;
   
}
.star-line-green::after{
    background-color: #fff;
    color: #293947;
}
#header span{
    font-size: 20px;
    
}
h1,h2,h3,h4,h5,h6{
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
}
#header .container{
    padding-top: 100px;
    text-transform: uppercase;
    color: white;
    padding-bottom: 100px;
    
}
#header h1{
    font-size: 4.75em;
    
    
}

#header{
    
    background-color: brown;
    text-align: center;
}
        #nav-container{
        
            height: 100px;
            background-color: #293947;
        }
        #nav-inner{
           
            height: 100px;
            
            
            
            
        }
        #logo{
            font-size: 30px;
            float: left;
            margin: 30px 10px;
            text-transform: uppercase;
            
            
        }
        #nav-menu{
            float: right;
            margin: 40px 10px;
            
            
        }
        #nav-inner a{
            color: white;
            text-decoration: none;
            font-weight: 700;
        }
        #nav-menu li{
            list-style: none;
            float: left;
            margin: 0px 25px;
            
        }
        #nav-menu li a{
            letter-spacing: 1px;
        }
        #nav-menu li a:hover{
            color: #29B895;
        }
        
        .clear{
            clear: both;
        }

#content{
    text-align: center;
    padding-top: 100px;
}
#content h2{
    font-size: 50px;
    color: #293947;
}

.portofolio-item{
    width: 32%;
    
    float: left;
    margin-right:10px;
    margin-bottom: 15px;
    margin-left:15px;
    
    
}
.portofolio-item img{
    
}
.portofolio-item a{
    display: block;
    position: relative;
}
.caption{
    background-color: #29B895;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity 0.4s;
    
    
}
.caption-icon{
    position: absolute;
    width: 100%;
    top: 40%;
    color: #fff;
    font-size: 25px;
    
    
}
.caption:hover{
    opacity: 0.8;
}


#about{
    background-color: brown;
    padding: 100px 0;
    margin-top:100px;
    text-align: center;
    color: #fff;
}
#about h2{
    font-size: 40px;
    
}
#about p{
    font-size: 25px;
    padding:0 20%;
    text-align: left;
    -webkit-column-count:2;
    line-height: 1.45;
}

#btn{
    border: 2px solid #fff;
    font-size: 20px;
    color: #fff;
    padding: 20px 40px;
    background-color: transparent;
    margin-top: 15px;
    border-radius: 5px;
    transition: background 0.5s;
}
#btn:hover{
    background: #fff;
    color: black;
}
    

#contact{
    padding: 50px 0;
    text-align: center;
}
#contact h2{
    font-size: 40px;
}
#form{
    width: 60%;
    margin: 30px auto;
}
input[type="text"],textarea{
    width: 100%;
    border: none;
    border-bottom: 1px solid #eee;
    height: 34px;
    padding: 10px 6px;
    font-size: 1.5em;
    outline: none;
    
}
.form-group{
    margin-top: 15px;
}
textarea{
    height: auto;
}
input[type="submit"]{
    float: left;
    padding: 10px 30px;
    border-radius: 6px;
    background-color: #1F886E;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}


#footer{
    
    text-align: center;
    
    color: white;
   
    
 
}
#footer-top{
    background-color: #293947;
    padding-top: 50px;
    padding-bottom: 50px;
}
#footer-top li{
    list-style: none;
    display: inline-block;
    border: 2px solid white;
    border-radius: 50%;
    padding: 15px;
    font-size: 20px;
    margin-right: 5px;
}
#footer-top li:hover{
    background: #fff;
    color: #1A232A;
    cursor: pointer;
}
.footer-col{
    width: 45%;
    display: inline-block;
    
}
#footer-bottom{
    
    background-color: #1A232A;
    padding:25px 0;
    
}
h3{
    font-size: 24px;
    margin-bottom: 15px;
}
#footer p{
    font-size: 18px;
}
#item-2{
    margin-left: 250px;
}
